*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}


body{
    background-color: #f9f9f9;
    margin: 0;
    padding: 0px;
}
main{
    max-width:1200px;
    margin: auto;
    
}


/* Colors Start */
.barbara-blue{
    color: #2980b9;
}
.black-dark{
    color: #2c3e50;
}
.black-light{
    color: #7f8c8d;
}
/* Colors End */



/* Navigation Bar Start*/



/* Navigation Bar End */





#pd-opportunity-title{
    text-align: center;
    color: white;
    background-color: #509bda;
    padding: 1em;
    font-size: 2em;
}
#pd-join-title{
    text-align: center;
}
#pd-join-title h2{
    padding: 1.5em 0em;
    font-size: 2em;
}
#pd-join-title p{
    margin-bottom: 3em;
}



/* Styles for First Job */
#job-position-1{
    max-width: 65%;
    background-color: white;
    padding: 2em;
    border-radius: 7px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin-bottom: 1.5em;
}


#pd-job-1 h3{
    font-size: 1.8em;
}
.ref{
    margin: .5rem 0 1em 0;
}
.pd-description-title{
    margin: 1.5em 0 .5em 0;
    font-size: 1.3em;
}



/* responsibility Start */
.pd-responsibility-title{
    margin: 1.5em 0 .5em 0;
    font-size: 1.3em;
}
.reports-to{
    margin: 1em 0 0 0;
}
.pd-list li{
    margin: 1em;
}
/* responsibility End */


/* Requirement Start */
#pd-requirements-title{
    margin-top: 2em;
    font-size: 1.3em;
}
/* Requirement End */


/* Salary Range Start */
.pd-salary{
    font-size: 1.3em;
    font-weight: bold;
}
/* Salary Range End */



/* Apply btn start */
#pd-apply-btn{
    font-size: larger;
    color: white;
    background-color: #34495e;
    border: 3px solid #34495e;
    padding: .6em 2em;
    font-weight: bold;
    border-radius: 9px;
    margin: .5em 0;
}

#pd-apply-btn:hover{
    background-color: white;
    color: #34495e;
    border: 3px solid #34495e;
    transform: scale(1.1);
    transition: .3s;
    
}


/* Apply btn end */



/* aside */
.benefits{
    float: right;
    width: 25%;
    border: 1px solid salmon;
    background-color: #e8f4fc;
    padding: 1.5em 0 1.5em 1.5em;
    border: 2px solid #c9d6df;
    border-radius: 8px;
    position: sticky;
    top: 1rem;
}
.benefits h3{
    margin: 0 0 .5em 0;
}
.benefits ul li{
    margin-bottom: .5em;
}

/* Footer Start  */
.pd-footer{
    /* max-width:1200px; */
    background-color: #509bda;
    padding: 1em 0;
    margin: auto;
    text-align: center;
    color: white;
}
/* Footer End  */
