*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}


body{
    background-color: #f9f9f9;
    margin: 0;
    padding: 0px;
}
.jobs-container{
    max-width:1280px;
    margin: auto; 
}


/* Colors Start */
.barbara-blue{
    color: #2980b9;
}
.black-dark{
    color: #2c3e50;
}
.black-light{
    color: #7f8c8d;
}
/* Colors End */



/* -----------------------------Job Style Start-------------------------- */


/* Home Page Begins */
.homepage_container {
    max-width: 65%;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.content {
    margin-bottom: 2em;
    padding: 1em;
}

.content h1, .content h2 {
    color: #4682b4; /* SteelBlue */
    margin-bottom: 0.5em;
}

.content ul {
    list-style-type: square;
    padding-left: 20px;
}
/* Home Page Ends */


#pd-opportunity-title{
    text-align: center;
    color: white;
    background-color: #509bda;
    padding: 1em;
    font-size: 2em;
}
#pd-join-title{
    text-align: center;
}
#pd-join-title h2{
    padding: 1.5em 0em;
    font-size: 2em;
}
#pd-join-title p{
    margin-bottom: 3em;
}



/* Styles for First Job */
.job-position-1{
    max-width: 65%;
    background-color: white;
    padding: 2em;
    border-radius: 7px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin-bottom: 1.5em;
}


.pd-job-1 h3{
    font-size: 1.8em;
}
.ref{
    margin: .5rem 0 1em 0;
}
.pd-description-title{
    margin: 1.5em 0 .5em 0;
    font-size: 1.3em;
}



/* responsibility Start */
.pd-responsibility-title{
    margin: 1.5em 0 .5em 0;
    font-size: 1.3em;
}
.reports-to{
    margin: 1em 0 0 0;
}
.pd-list{
    margin-bottom: 1.5em;
}
.pd-list li{
    margin: 1em;
}
/* responsibility End */


/* Requirement Start */
.pd-requirements-title{
    margin-top: 2em;
    font-size: 1.3em;
}
/* Requirement End */


/* Salary Range Start */
.pd-salary{
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: .5em;
}
/* Salary Range End */



/* Apply btn start */
.pd-apply-btn{
    text-decoration: none;
    font-size: larger;
    color: white;
    background-color: #34495e;
    border: 3px solid #34495e;
    padding: .6em 2em;
    font-weight: bold;
    border-radius: 9px;
    
}

.pd-apply-btn:hover{
    background-color: white;
    color: #34495e;
    border: 3px solid #34495e;
    transform: scale(1.1);
    transition: .3s;
    
}


/* Apply btn end */



/* aside */
.benefits{
    float: right;
    width: 25%;
    border: 1px solid salmon;
    background-color: #e8f4fc;
    padding: 1.5em 1em 1.5em 1.5em;
    border: 2px solid #c9d6df;
    border-radius: 8px;
    position: sticky;
    top: 1rem;
}
.benefits h3{
    margin: 0 0 .5em 0;
}
.benefits ul li{
    margin-bottom: .5em;
}

/* Footer Start  */
.pd-footer{
    /* max-width:1200px; */
    background-color: #509bda;
    padding: 1em 0;
    margin: auto;
    text-align: center;
    color: white;
}
/* Footer End  */


/* responsive */
@media screen and (max-width:992px) {
    
.jobs-container{
    max-width:100%;
}


.job-position-1{
    max-width: 60%;
}

}


@media screen and (max-width:576px) {
    .job-position-1{
        max-width: 100%;
    }
    .benefits{
        float: none;
        display: none;
    }
}

/* -----------------------------Job Style End-------------------------- */







/* -----------------------------About Style Start-------------------------- */

/* -----------------------------About Style End-------------------------- */
